*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    color: white;
}

html, body{
    height: 10000px;
    width: 100%;
    background-color: #0A0D08;
}

#hero{
    padding: 30px 60px;
    margin-top: 50px;

}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 20px; */
    padding: 30px 60px;
}

#nav-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

#nav-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#nav-btn button{
    border: 1px solid white;
    color: #0f0f0f;
    padding: 5px 8px;
    border-radius: 5px;
}

.yellow{
    background-color: rgb(226, 226, 115);
    color: white;
    color: #0f0f0f;
    
}



.hero-title{
    font-size: 70px;
    /* font-weight: 500; */
}

.hero-subtitle{
    font-size: 15px;
    font-weight: 200;
    margin-top: 50px;
}
#hero-footer{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 70px;


}

#hero-btn{
    border: 1px solid white;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 20px;
     background-color: rgb(226, 226, 115);
    color: white;
    color: #000;
}





#section{
    margin: 40px 100px;
    padding: 30px 50px;
    background-color: #11140F;
border: 1px solid rgb(228, 207, 207);
border: none;
border-radius: 15px;
}

#section-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avtar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.avtar-top{
    display: flex;
    align-items: center;
    gap: 100px;
}
.avatar-group {
  display: flex;
  align-items: center;
  
}

.avatar-group img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #0f0f0f;
  border: none;
  object-fit: cover;
  margin-left: -20px;
}

.avatar-group img:first-child {
  margin-left: 0;
}




#section-pic-content{
display: flex;
width: 100%;
margin-top: 100px;
}

#section-pic-div{
    /* width: 800px; */
}

.section-pic1{
    display: flex;
    gap: 20px;
}

.section-pic1 div{
    height: 150px;
    width: 300px;
    border-radius: 10px;
}

.section-pic2{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.section-pic2 div{
    height: 150px;
    width: 300px;
    border-radius: 10px;
}

.pic1{
     background-image: url(https://images.unsplash.com/photo-1688888745596-da40843a8d45?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position:center;
    border-radius: 10px;           
}

.pic2{
    background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position:center;
    border-radius: 10px; 
     
               
}

.pic3{
     background-image: url(https://images.unsplash.com/photo-1602471615287-d733c59b79c4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position:center;
    border-radius: 10px; 
                
}                                                                                   

.pic4{
    background-image: url(https://images.unsplash.com/photo-1654110455429-cf322b40a906?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position:center;
    border-radius: 10px; 
                
}

#section-content{
    margin-left: 8%;
}

#section-content .title{
    font-size: 15px ;
    color: green;
    margin-bottom: 30px;
}

#section-content h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

#section-content .arrow{
    font-size: 15px;
    font-weight: 500;
    margin-top: 35px;
}

#section-content .arrow .ri-arrow-right-line{
    font-size: 18px;
    margin-left: 10px;
    
}

#section-footer{
    display: flex;
    margin-top: 90px;
}
#section-footer .title{
    font-size: 15px ;
    color: green;
    margin-bottom: 30px;
}

#section-footer h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-bottom: 30px;
}

.right{
    display: flex;
    gap: 20px;
    margin-left: 30px;
}
.card1{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
.image1{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1578301996581-bf7caec556c0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHBhaW50aW5nfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
     
}

.card2{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
     background-color: white;
}

.image2{
    height: 150px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1578926375605-eaf7559b1458?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGFpbnRpbmd8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}
.right p{
    margin-top: 30px;
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
}

.card1 img{
    
     
}